# the analysis
ans   SUSY3L

#skim, Full or Limited, comment for disabling it
//skim	Full

#optional
//nmax	50000
nskip	0
summary 1

#analysis specific variables
var     onZ                -1               // -1 on and off-Z, 0: off-Z, 1: on-Z
var     selectMuons         1               // specity whether muons should be selected as leptons (1) or not (0)
var     selectElectrons     1               // specity whether electrons should be selected as leptons (1) or not (0)
var     selectTaus          0               // specity whether taus should be selected as leptons (1) or not (0)
var     baselineRegion      BR0             // specify set of cuts for baseline region (currently only BR0)
var     categorization      1               // sort into SR
var     doPlots             1               // make event plots 
var     doPlotsVerbose      0               // make event plots 
var     doValidationPlots   0               // plot additional histograms
var     closureByFlavor     0               // test fake rate closure for 1 flavor only (0: default both flavors, 13: muons only, 11: electrons only 
var     closure             1               // if closure switch off pu, btag weights.. 
var     exactlyThreeLep     1               // select events with exactly 3 leptons (1) or more than 2 leptons (0)
var     FastSim             0               // fast or full sim
var     debug               0               // suplementary couts
var     runSystematics      0               // switch on or off systematic uncertainties
var     useLepMVA           0               // 0: use cut based lepton selection, 1: use lepton MVA ID
var     doGenMatch          1               // require tight leptons to by gen matched
var     version             8               // CMSSW version

#folder
dir 


#genWeight normalization
wgthisto    SumGenWeights

#tree name
tree	    tree

#histo counter
histo       Count

###rare
#ds GGHZZ4L dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds VHToNonbb dir:                                                                          #missing
#ds WWZ dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds WZZ dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds ZZZ dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds TTTT dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds TTTT_ext dir:    #extension
#ds tZq_ll dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds ZZTo4L dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#
##X+gamma
#ds WGToLNuG dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds ZGTo2LG dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds TTGJets dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds TGJets dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#
###TTW
#ds TTWToLNu dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds TTWToLNu_LO dir:      #leading order file
#
###TTZ/H
#ds TTZToLLNuNu_LO dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood   #leading order file
##ds TTZToLLNuNu dir:                                                                                #missing
#ds TTHnobb  dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds TTHnobb_ext  dir:     #extension
##ds TTHnobb_pow  dir:     #leading order Powheg
#ds TTLLJets_m1to10 dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#
###WZ
#ds WZTo3LNu dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#
##FAKE -----------------------------------------------------
##Drell-Yan
ds DYJetsToLL_M50 dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds DYJetsToLL_M50_LO dir:    #leading order file
ds DYJetsToLL_M10to50 dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds DYJetsToLL_M10to50_ext1 dir:  #extension
#
##ttbar
ds TTJets dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood               #MC@NLO
##ds TTJets_ext dir:          #extension
#
##ds TTJets_SingleLeptonFromTbar dir:          #Madgraph
##ds TTJets_SingleLeptonFromTbar_ext dir:     #extension
##ds TTJets_SingleLeptonFromT dir:      #Madgraph
##ds TTJets_SingleLeptonFromT_ext dir:        #extension
##ds TTJets_DiLepton dir:                      ##Madgraph            
#
##ds TTLep_pow dir:            #Powheg, dilepton only
#
##single top
ds TToLeptons_sch dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds TToLeptons_tch_powheg dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds TBarToLeptons_tch_powheg dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
ds TBar_tWch dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
ds T_tWch dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#
##W+Jets
ds WJetsToLNu dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
###ds WJetsToLNu_LO dir:
#
##other
#ds WWTo2L2Nu dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds ZZTo2L2Nu dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##not relevant for multilepton, very samll cross section
##ds WpWpJJ dir:
##ds WWDouble dir: 
##ds tZq_nunu dir:
#
##---------------------------------------------------------------
#
###signal
#ds T1tttt_mGo1200_mChi800 dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
#ds T1tttt_mGo1500_mChi100 dir:/mnt/t3nfs01/data01/shome/jhoss/analysis/MPAF/workdir/skims/2016_06_14_skim80X_3LepGood
##ds T5ttttDeg_mGo1000_mStop300_mCh285_mChi280 dir:
##ds T6ttWW_mSbot600_mCh425_mChi50 dir:
##ds T6ttWW_mSbot650_mCh150_mChi50 dir:
##ds T5qqqqWZDeg_mGo1000_mCh315_mChi300_dilep dir:
##ds T5qqqqWZDeg_mGo1000_mCh325_mChi300_dilep dir:
##ds T5qqqqWZ_mGo1500_mCh800_mChi100_lep dir:
##ds T5qqqqWZ_mGo1200_mCh1000_mChi800_lep dir:
#
###data
##ds DoubleEG_Run2015C_25ns_16Dec2015 dir:
##ds DoubleEG_Run2015D_16Dec2015 dir:
##ds DoubleMuon_Run2015C_25ns_16Dec2015 dir:
##ds DoubleMuon_Run2015D_16Dec2015 dir:
##ds MuonEG_Run2015C_25ns_16Dec2015 dir:
##ds MuonEG_Run2015D_16Dec2015 dir:
